Source: apt-transport-swift
Maintainer: Andrey Rodionov <dernasherbrezon@gmail.com>
Section: admin
Priority: optional
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 10.0.0), libssl-dev, libcurl4-gnutls-dev, libjson-c-dev, liburiparser-dev, check
Homepage: https://github.com/dernasherbrezon/apt-transport-swift

Package: apt-transport-swift
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Transport for communicating with Openstack Swift
 This package contains the APT OpenStack Swift transport. 
 It makes it possible to use 'deb swift://container prod main'
 type lines in your sources.list file.